src/reporter/__pycache__/
eval/__pycache__/

.venv/

# ignore everything in the test_responses folder
tests/*

# ignore egg-info files 
src/reporter.egg-info/

# ignore secrets
secrets/
.env

# ignore scripts 
scripts/